*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font: 'Josefin Sans', sans-serif;
    --cor1: #ACC2BC;
    --cor2: #FBBFBF;
}

.row{
    width: 100%;
}

.navbar{
    background-color: #ffffff !important;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}
.navbar-nav li:hover{
    border-bottom: 2px solid #fa4b68;
    transition: 90ms ease all;
}
/* .header{
    width: 100%;
    height: 8vh;
    background-color: #ACC4BE;
} */
.link-navbar{
    letter-spacing: 1px;
    color: var(--cor1) !important;
    font-weight: 500;
    font-size: 16px;
}
.link-navbar ion-icon{
    font-size: 20px;
}

.link-navbar:hover{
    letter-spacing: 1px;
    color: var(--cor2) !important;
    font-size: 16px;
    transition: 100ms ease all;
}

.container-fluid{
    /* background-color: #981010; */
    width: 100%;
    padding: 0;    
}
.header-section{
    /* background-color: #ACC2BC; */
    background-image: url(../assets/mockups/background-edit.jpeg); 
    background-size: cover;
    width: 100%;
    height: 600px;
}


/* Tirei o top e deixei o mesmo height para o .header-section e o ::before */

.header-section::before{
    content: "";
    background-color: #ACC2BC99 ;  
    width: 100%;
    height: 600px;
    position: absolute;
}
.biconlet-points{
    z-index: 9999;
}
.bullet-points ul li{
    z-index: 99999999;
    position: relative;
    font-weight: 700;
    list-style: none;
    font-family: var(--font);
    color: #ffffff;
    font-size: 18px;
}
.bullet-points li ion-icon{
    color: var(--cor2);
    font-weight: 800;
    
}


.imagem-header{
    position: absolute;
    margin-top: -60px;
    z-index: 1;
}
.imagem-header img{
    border-radius: 50%;
    border: 4px ridge var(--cor2);
    -webkit-box-shadow: -2px -3px 28px -8px rgba(0,0,0,0.66); 
    box-shadow: -2px -3px 28px -8px rgba(0,0,0,0.66);
}

.container-ebook{
    z-index: 9999;
}

.box-content{
    margin-top: 100px;
}
.main-headline{
    margin-left: 50px;
    color: white;
    z-index: 9999;
}
.main-headline h1{
    font-family: var(--font);
    font-weight: 900;
    font-size: 40px;
}
.main-headline h2{
    font-family: var(--font);
    font-weight: 900;
    font-size: 24px;
    margin-top: 50px;
}
.strong-headline{
    color: var(--cor2);
}

.button-margin{
    margin-left: 50px;
} 
.button-header{
    z-index: 9999;
}
.button-header button{
    margin-top: 50px;
    width: 450px;
    height: 50px;
    background-color: #f76d85;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    z-index: 9999;
    box-shadow: 1px 4px 6px 1px rgba(0,0,0,0.44);
    -webkit-box-shadow: 1px 4px 6px 1px rgba(0,0,0,0.44);
    -moz-box-shadow: 1px 4px 6px 1px rgba(0,0,0,0.44);
}
.button-header button:hover{
    margin-top: 50px;
    width: 450px;
    height: 50px;
    background-color: #fa4b68;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    transition: ease-in-out 100ms;
}
.button-header button:focus{
    margin-top: 50px;
    width: 450px;
    height: 50px;
    background-color: #f76d85;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    z-index: 9999;
    box-shadow: 25px 29px 13px -20px rgba(0,0,0,0.44) inset;
    -webkit-box-shadow: 25px 29px 13px -20px rgba(0,0,0,0.44) inset;
    -moz-box-shadow: 25px 29px 13px -20px rgba(0,0,0,0.44) inset;
}
.content{
    margin-top: 50px;
}
.image-content-default{
    border-radius: 10px;
    border: 2px solid var(--cor2);
    margin-left: 100px;
}
.image-content{
    border-radius: 10px;
    border: 2px solid var(--cor2);
}

.first-content-title p{
    font-size: 60px;
    font-family: var(--font);
    font-weight: 700;
    color: #ACC4BE;
    text-shadow: -1px 4px 4px var(--cor2);
}
.text-content1 strong{
    color: #f76d85;   
}
.text-content1{
    margin-left: 80px;
    text-align: justify;
    font-family: var(--font);
    font-size: 22px;
    width: 700px;
    font-weight: 400;
}
.text-content1 h1{
    color: var(--cor1);
}
.box-text-content1{
    margin-left: -20px;
}
.name-leyliane{
    font-weight: 700;
}
.content2{
    margin-top: 160px;
    margin-right: 80px;
}
/* .content2::before{
    content: "";
    width: 100%;
    height: 50px;
    background-color: #FBBFBF   ;
    background: #FBBFBF;
    background: -webkit-radial-gradient(circle farthest-side at center center, #FBBFBF 0%, #FFFFFF 26%);
    background: -moz-radial-gradient(circle farthest-side at center center, #FBBFBF 0%, #FFFFFF 26%);
    background: radial-gradient(circle farthest-side at center center, #FBBFBF 0%, #FFFFFF 26%);
    position: absolute;
    z-index: -10;
} */
.content2::before{
    content: "";
    justify-content: center;
    background-color: #FBBFBF;
    width: 5px;
    left: 47%;
    height: 420px;
    position: absolute;
}


.content2 strong{
    color: #f76d85;
}
.text-content2{
    margin-right: 90px;
    width: 600px;
    text-align: justify;
    font-family: var(--font);
    font-size: 20px;
    font-weight: 400;
}
.butterfly-background{
    background-image: url(../assets/mockups/fundoborboleta.png);
    background-size: cover;
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: -10;
    margin-top: -50px;
}
.content-bullet-points h2{ 
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: var(--font);
    color: var(--cor1);
}
.content-bullet-points ul li{
    list-style: none;
    font-style: italic;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 20px;
    color: #170B3B;
    font-family: var(--font);
}
.content-bullet-points ul li span{
    text-decoration: underline  #f76d85 wavy;
    text-underline-offset: 5px;
}
.background-butterfly-bottom{
    background-image: url(../assets/mockups/fundoborboleta.png);
    background-size: cover;
    position: absolute;
    width: 350px;
    height: 300px;
    z-index: -1;
    margin-top: 160px;
    margin-left: 350px;
}
.content-bullet-points ion-icon{
    font-size: 24px;
    color: #f76d85;
}
.icon{
    margin-right: 10px;
}

#first-content{
    padding-bottom: 100px;
}

.hr{
    margin: 0px;
    width: 100%;
    height: 80px;
    background: #FBC0C0;
    background: -webkit-linear-gradient(top, #FBC0C0, #ADC2BC);
    background: -moz-linear-gradient(top, #FBC0C0, #ADC2BC);
    background: linear-gradient(to bottom, #FBC0C0, #ADC2BC);
}
.second-container{
    background-image: url(../assets/mockups/red.jpg);
    background-size: cover;
    height: 40vh;
    width: 30%;
}
.container-garantia{
    position: relative;
    z-index: 1;
    margin-left: -200px;
}
.text-garantia{
    text-align: justify;
    font-family: var(--font);
    font-size: 25px;
    width: 700px;
    margin-left: 40px;
}
#third-content{
    padding-top: 100px;
    /* background-color: var(--cor2); */
    background: rgba(251, 191, 191, 1.0);
    background: -webkit-linear-gradient(bottom, rgba(251, 191, 191, 1.0), rgba(255, 255, 255, 1.0));
    background: -moz-linear-gradient(bottom, rgba(251, 191, 191, 1.0), rgba(255, 255, 255, 1.0));
    background: linear-gradient(to top, rgba(251, 191, 191, 1.0), rgba(255, 255, 255, 1.0));
    padding-bottom: 100px;
}


.third-content-title{
    font-size: 60px;
    font-weight: 700;
    font-family: var(--font);
    letter-spacing: 4px;
    padding-top: 50px;
    text-shadow: -4px 3px 4px var(--cor1);
    color: var(--cor2);
}
.cards{
    border-radius: 10px;
}
.imagem-depoimentos{
    border-radius: 10px;
}

.button{
    margin-top: 50px;
    width: 550px;
    height: 70px;
    background-color: #f76d85;
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.44);
   /* -webkit-box-shadow: 1px 4px 6px 1px rgba(0,0,0,0.44);
    -moz-box-shadow: 1px 4px 6px 1px rgba(0,0,0,0.44);*/
}
.button:hover{
    margin-top: 50px;
    width: 550px;
    height: 70px;
    background-color: #fa4b68;
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    transition: ease-in-out 100ms;
}
.button:focus{
    margin-top: 50px;
    width: 550px;
    height: 70px;
    background-color: #fa4b68;
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    transition: ease-in-out 100ms;
}
.text-cards{
    text-align: justify;
}



#fourth-content{
    width: 100%;
    /* height: 200vh; */
    background-color: var(--cor1);
    padding-bottom: 150px;
}

#fifth-content{
   background-image: url(../assets/mockups/fundoborboleta.png);
   background-size: cover;
    width: 100%;
    height: 900px;
}
#fifth-content::before{
    content: "";
    background-color: #ACC2BC80;
    width: 100%;
    height: 900px;
    position: absolute;

}

.content-fifth{
    padding-top: 120px;
    z-index: 9999;
}

.fifth-content-title{
    z-index: 9999;
}

.fifth-content-title p{
    font-family: var(--font);
    font-weight: 900;
    color: #210B61;
    text-transform: uppercase;
}
.fifth-content-title .line{
    color: #DF013A;
    font-size: 30px;
    text-decoration: line-through;
}
.fifth-content-title h1{
    font-size: 100px;
    color: #FE2E64;
    font-weight: 700;   
}
#content-garantia{
    border-top:  10px solid var(--cor2);
    border-bottom: 10px solid var(--cor1);
}

.strong{
   color: #E30606; 
   font-weight: 900;
}
.form{
    width: 700px;
    background-color: #CE3333;
    border-radius: 10px;
    -webkit-box-shadow: 3px 1px 15px 5px rgba(0,0,0,0.37); 
box-shadow: 3px 1px 15px 5px rgba(0,0,0,0.37);
padding-bottom: 30px;
}



.input{
    border-radius: 5px;
    width: 100%;
    height: 40px;
    border: none;
    padding-left: 1px;
}
.text-fifth-bottom{
    font-family: var(--font);
    letter-spacing: 10px;
}
.fourth-content-title{
    font-size: 60px;
    font-weight: 700;
    font-family: var(--font);
    letter-spacing: 3px;
    padding-top: 50px;
    text-shadow: -4px 3px 4px var(--cor2);
    /* text-shadow: 2px 4px 2px var(--cor2); */
}

.ask{
    width: 1000px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.ask li{
    list-style: none;
}
.text-ask{
    font-size: 30px;
    font-weight: 700;
    font-family: var(--font);
}

.dropdown{
    display: none;
    width: 100%;
    position: relative;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
    
    -webkit-transition: height 0.3s ease-in;
    -moz-transition: height 0.3s ease-in;
    -o-transition: height 0.3s ease-in;
    -ms-transition: height 0.3s ease-in;
    transition: height 0.3s ease-in; 
}

.ask:hover .dropdown{
    display: block;
    transition: 200ms all;
    transition-duration: 200ms;
    transition-delay: 200ms;
}
.ask:hover .icon-margin{
    transform: rotate(90deg);
    transition: 50ms all;
    transition-duration: 50ms;
    transition-delay: 50ms;
    
}

.icon-margin{
    margin-right: 20px;
    font-size: 32px;
    color: var(--cor1); 
   

}

.img-footer{
    margin-top: 150px;
}

.title-fifth{
    color: #210B61;
    z-index: 9999;
}
.content-fifth-garantia{
    z-index: 9999;
}
.container-fifth-button{
    z-index: 9999;
}
footer{
    padding-top: 20px;
    background-color: #140718; 
    padding-bottom: 40px;
}
.text-footer{
    font-family: var(--font);
    font-weight: 700;
}
footer a{    
    color: #111111;
}
footer a:hover{
    text-decoration: none;
    color: var(--cor1);
}


 /* Media query */


 @media only screen and (max-width: 1450px){
    .mockup-ebook{
        width: 600px;
    }
    .text-content1{
        font-size: 17px;
        width: 600px;
    }
}

@media only screen and (max-width: 1420px){

    .imagem-depoimentos{
        width: 400px;
    }

}

@media only screen and (max-width: 1360px){

    .image-content-default{
        margin-left: 0;
    }
    .content-image1{
        paddin-left: 5px;
    }
    
    .content2{
        padding: 10px;
    }

    .content-bullet-points{
        display: flex;
        flex-direction: column;
    }

    .content2::before{
        height: 350px;
        margin-top: 50px;
        display: none;
    }

    .image-content-default{
        width: 500px;
    }
    
    .text-content1{
        font-size: 18px;
        width: 500px;
    }
    .navbar{
        width: 100%;
    }

    .imagem-depoimentos{
        width: 320px;
    }

}

@media only screen and (max-width: 1025px){

    .main-healdine{
        display: flex;
        justify-content:center;
    }
    .main-headline h1{
        font-size: 30px;
    }

    .mockup-ebook{
        display: none;
    }

    .content2{
        display: flex;
        flex-direction: column;
    }

    .content2 .content-image2 img{
        display: none;
    }
    .background-butterfly-bottom{
        display: none;
    }

    .content2::before{
        height: 350px;
        margin-top: 50px;
        transform: rotate(90deg);
    }
    .content2{
        display: flex;
        justify-content: center;
    }

    .imagem-depoimentos{
        width: 300px;
    }

    .ask{
        width: 800px;
    }

    .content1{
        padding-right: 30px;
    }

    .text-content1{
        font-size: 18px;
    }

    .butterfly-background{
        width: 280px;
        margin-left: 30px;
    }
    .content1 .content-image1 img{
        width: 400px;
    }
}
@media only screen and (max-width: 970px){
    
    .imagem-depoimentos{
        width: 230px;
    }
}

@media only screen and (max-width: 768px){
    
    .cards{
        display: flex;
        flex-direction: column !important;
    }

    .cards img{
        margin-top: 40px;
    }

    .butterfly-background{
        display: none;
    }

    .imagem-depoimentos{
        width: 500px;
    } 


    .res-768{
        display: flex;
        flex-direction: column-reverse !important;
    }
    .content-image1{
        margin-top: 30px;
        display: flex;
        justify-content: center !important;
    }

    
    .image-r-768{
        display: block;
    }
    .image-r-768::before{
        content: "";
        width: 100%;
    height: 300px;
    background-color: #FBBFBF   ;
    background: #FBBFBF;
    background: -webkit-radial-gradient(circle farthest-side at center center, #FBBFBF 0%, #FFFFFF 40%);
    background: -moz-radial-gradient(circle farthest-side at center center, #FBBFBF 0%, #FFFFFF 40%);
    background: radial-gradient(circle farthest-side at center center, #FBBFBF 0%, #FFFFFF 40%);
    position: absolute;
    z-index: -10;
    margin-left: -50px;

    }
    .ask{
        width: 650px;
    }

   .content2{
       margin-top: 80px;

   }
   .text-content1{
    font-size: 22px;
    width: 600px;
    text-align: justify;
}
    .navbar ul li a{
        padding-left: 15px !important;
    }

    .title-fifth{
        padding: 20px;
    }
    .fourth-content-title{
        pad: 5px;
    }

    .content-fifth-garantia img{
        width: 200px;
    }

}

@media only screen and (max-width: 540px){

    .navbar .navbar-brand img{

        margin-left: -30px !important;
        width: 150px;
    }

    .imagem-header img{
        width: 100px;
        margin-top: 10px;
    }

    .first-content-title p{
        font-size: 50px;
    }
    .text-content1{
        width: 400px;
    }
    .ask{
        width: 550px;
    }

    .content-image1 img{
        width: 250px;
        margin-left: 30px;
    }

    .button{
        width: 500px;
    }

    .title-bullet-points{
        padding-left: 20px;
    }
    
    .third-content-title{
        font-size: 50px;
    }

    .imagem-depoimentos{
        width: 400px;
    }

    .ask{
        width: 470px;
    }

    .content-fifth-garantia img{
        width: 150px;
    }

}

@media only screen and (max-width: 414px){

    .navbar .navbar-brand img{

        margin-left: -30px !important;
        width: 100px;
    }

    .imagem-header img{
        width: 100px;
        margin-top: 20px;
    }

    .button-margin{
        margin-left: 15px;
    }
    .button-header button{
        width: 380px;
    }

    .button-header{
        display: flex;
        justify-content: center;
    }

    .first-content-title p{
        font-size: 40px;
    }

    .text-content1{
        width: 300px;
    }

    .content-image1 img{
        width: 300px !important;
        margin-left: 30px;
    }

    .button{
        width: 350px;
        font-size: 35px;
    }

    .content-bullet-points ul li span{
        font-size: 17px;
    }

    .third-content-title{
        font-size: 40px;
    }
    
    .icon img{
        width: 30px;
    }

    .imagem-depoimentos{
        width: 300px;
    }

    .ask{
        width: 350px;
    }

    .text-button-res-414{
        font-size: 28px;
    }

}